.feed{
  width: 600px;
  border-width: 1px;
  border-color: rgb(82, 82, 82);
  margin-left: 405px;
  margin-top: 20px;
 
} 

.main-header{
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(82, 82, 82);
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
}

.home{
  font-size: 20px;
  font-weight: bold;
}

.top-tweets{
  height: 18px;
}

.tweet-compose-container{
  display: grid;
  grid-template-columns: 60px 1fr;
  margin-top: 20px;
}


.user-profile-picture{
  margin-top: 8px;
  width: 50px;
  border-radius: 25px;
}

.tweet-media{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.tweet-tools{
  display: grid;
  grid-template-columns: 1fr;
}

.tweet-box{
  border: none;
  height: 70px;
  background: none;
  font-size: 20px;
}

.tweet-box::placeholder{
  color: rgb(150, 156, 163);
}

.media-icons{
  display: flex;
  column-gap: 20px;
}

.media-icon{
  height: 18px;
}

.tweet-button{
  padding: 10px 20px 10px 20px;
  background-color: rgb(0, 157, 255);
  color: white;
  border: none;
  border-radius: 36px;
  font-weight: bold;
  font-size: 15px;
}

.tweet-1, .advertisement{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: 60px 1fr;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(82, 82, 82);
}
.tweet-username{
  font-weight: bold;
  font-size: 16px;
}

.tweet-container{
  padding-top: 10px;
  display: grid;
}

.handle{
  font-weight: normal;
  color:rgb(150, 156, 163);
  font-size: 16px;
}

.tweet-content{
  margin-top: 5px;
  font-size: 15px;
  line-height: 20px;
  padding-right: 5px;
}

.tweet-header{
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-more{
  font-size: 10px;
  color: rgb(150, 156, 163)
}

.tweet-actions{
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin-top: 15px;

}

.tweet-actions-icon{
  height: 18px;
}

.ad-media{
  height: 500px;
  border-radius: 10px;
}