.overlay{
  position: sticky;
  top: 0px;
  bottom: 0px;
  border-top: solid;
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  border-color: rgb(82, 82, 82);
  width: 598px;

}

.feed-header{
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 36, 48);
  opacity: 0.98;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 0px;
}

.home{
  font-size: 20px;
  font-weight: bold;
}

.top-tweets{
  height: 18px;

}

